*{font-family: 'Georgia, serif'}
.hxy-container{width: 100%}
.center{margin-left: auto;margin-right: auto}
.small{font-size: small}
.smaller{font-size: smaller}
.large{font-size: large}
.larger{font-size: larger}
.x-large{font-size: x-large}
.xx-large{font-size: x-large}
.text-center{text-align: center}
.text-left{text-align: left}
.text-right{text-align: right}
.bold{font-weight: bold}
.flex{display: flex}
.wrap{flex-wrap: wrap}
.column{flex-direction: column}
.justify-center{justify-content: center}
.justify-between{justify-content: space-between}
.justify-around{justify-content: space-around}
.justify-end{justify-content: flex-end}
.items-center{align-items: center}
.margin5{margin: 5px}
.margin5-top{margin-top: 5px}
.margin5-right{margin-right: 5px}
.margin5-bottom{margin-bottom: 5px}
.margin5-left{margin-left: 5px}
.margin10{margin: 10px}
.margin10-top{margin-top: 10px}
.margin10-right{margin-right: 10px}
.margin10-bottom{margin-bottom: 10px}
.margin10-left{margin-left: 10px}
.margin15{margin: 15px}
.margin15-top{margin-top: 15px}
.margin15-right{margin-right: 15px}
.margin15-bottom{margin-bottom: 15px}
.margin15-left{margin-left: 15px}
.margin20{margin: 20px}
.margin20-top{margin-top: 20px}
.margin20-right{margin-right: 20px}
.margin20-bottom{margin-bottom: 20px}
.margin20-left{margin-left: 20px}
.padding5{padding: 5px}
.padding5-top{padding-top: 5px}
.padding5-right{padding-right: 5px}
.padding5-bottom{padding-bottom: 5px}
.padding5-left{padding-left: 5px}
.padding10{padding: 10px}
.padding10-top{padding-top: 10px}
.padding10-right{padding-right: 10px}
.padding10-bottom{padding-bottom: 10px}
.padding10-left{padding-left: 10px}
.padding15{padding: 15px}
.padding15-top{padding-top: 15px}
.padding15-right{padding-right: 15px}
.padding15-bottom{padding-bottom: 15px}
.padding15-left{padding-left: 15px}
.padding20{padding: 20px}
.padding20-top{padding-top: 20px}
.padding20-right{padding-right: 20px}
.padding20-bottom{padding-bottom: 20px}
.padding20-left{padding-left: 20px}
.radius4{border-radius: 4px}
.radius4-top-left{border-top-left-radius: 4px}
.radius4-top-right{border-top-right-radius: 4px}
.radius4-bottom-right{border-bottom-right-radius: 4px}
.radius4-bottom-left{border-bottom-left-radius: 4px}
.radius6{border-radius: 6px}
.radius6-top-left{border-top-left-radius: 6px}
.radius6-top-right{border-top-right-radius: 6px}
.radius6-bottom-right{border-bottom-right-radius: 6px}
.radius6-bottom-left{border-bottom-left-radius: 6px}
.radius8{border-radius: 8px}
.radius8-top-left{border-top-left-radius: 8px}
.radius8-top-right{border-top-right-radius: 8px}
.radius8-bottom-right{border-bottom-right-radius: 8px}
.radius8-bottom-left{border-bottom-left-radius: 8px}
.radius10{border-radius: 10px}
.radius10-top-left{border-top-left-radius: 10px}
.radius10-top-right{border-top-right-radius: 10px}
.radius10-bottom-right{border-bottom-right-radius: 10px}
.radius10-bottom-left{border-bottom-left-radius: 10px}
.radius50{border-radius: 50%}
.nowrap{white-space: nowrap}
.overflow-hidden{overflow: hidden}
.overflow-scroll{overflow: scroll}
.overflow-x-scroll{overflow-x: scroll}
.overflow-x-hidden{overflow-x: hidden}
.overflow-y-scroll{overflow-y: scroll}
.overflow-y-hidden{overflow-y: hidden}
.ellipsis{text-overflow: ellipsis}
.pointer{cursor: pointer}
.color-white{color: white}
.bg-white{background-color: white}
.w-auto{width: auto}
.w-inherit{width: inherit}
.w-x1{width: calc(100%/24)}
.w-x2{width: calc(100%/24*2)}
.w-x3{width: calc(100%/24*3)}
.w-x4{width: calc(100%/24*4)}
.w-x5{width: calc(100%/24*5)}
.w-x6{width: calc(100%/24*6)}
.w-x7{width: calc(100%/24*7)}
.w-x8{width: calc(100%/24*8)}
.w-x9{width: calc(100%/24*9)}
.w-x10{width: calc(100%/24*10)}
.w-x11{width: calc(100%/24*11)}
.w-x12{width: calc(100%/24*12)}
.w-x12{width: calc(100%/24*13)}
.w-x14{width: calc(100%/24*14)}
.w-x15{width: calc(100%/24*15)}
.w-x16{width: calc(100%/24*16)}
.w-x17{width: calc(100%/24*17)}
.w-x18{width: calc(100%/24*18)}
.w-x19{width: calc(100%/24*19)}
.w-x20{width: calc(100%/24*20)}
.w-x21{width: calc(100%/24*21)}
.w-x22{width: calc(100%/24*22)}
.w-x23{width: calc(100%/24*23)}
.w-x24{width: 100%}
.h-auto{height: auto}
.h-inherit{height: inherit}
.h-x1{height: calc(100vh/24)}
.h-x2{height: calc(100vh/24*2)}
.h-x3{height: calc(100vh/24*3)}
.h-x4{height: calc(100vh/24*4)}
.h-x5{height: calc(100vh/24*5)}
.h-x6{height: calc(100vh/24*6)}
.h-x7{height: calc(100vh/24*7)}
.h-x8{height: calc(100vh/24*8)}
.h-x9{height: calc(100vh/24*9)}
.h-x10{height: calc(100vh/24*10)}
.h-x11{height: calc(100vh/24*11)}
.h-x12{height: calc(100vh/24*12)}
.h-x13{height: calc(100vh/24*13)}
.h-x14{height: calc(100vh/24*14)}
.h-x15{height: calc(100vh/24*15)}
.h-x16{height: calc(100vh/24*16)}
.h-x17{height: calc(100vh/24*17)}
.h-x18{height: calc(100vh/24*18)}
.h-x19{height: calc(100vh/24*19)}
.h-x20{height: calc(100vh/24*20)}
.h-x21{height: calc(100vh/24*21)}
.h-x22{height: calc(100vh/24*22)}
.h-x23{height: calc(100vh/24*23)}
.h-x24{height: 100vh}
.mLeft-x1{margin-left: calc(100%/24)}
.mLeft-x2{margin-left: calc(100%/24*2)}
.mLeft-x3{margin-left: calc(100%/24*3)}
.mLeft-x4{margin-left: calc(100%/24*4)}
.mLeft-x5{margin-left: calc(100%/24*5)}
.mLeft-x6{margin-left: calc(100%/24*6)}
.mLeft-x7{margin-left: calc(100%/24*7)}
.mLeft-x8{margin-left: calc(100%/24*8)}
.mLeft-x9{margin-left: calc(100%/24*9)}
.mLeft-x10{margin-left: calc(100%/24*10)}
.mLeft-x11{margin-left: calc(100%/24*11)}
.mLeft-x12{margin-left: calc(100%/24*12)}
.mLeft-x13{margin-left: calc(100%/24*13)}
.mLeft-x14{margin-left: calc(100%/24*14)}
.mLeft-x15{margin-left: calc(100%/24*15)}
.mLeft-x16{margin-left: calc(100%/24*16)}
.mLeft-x17{margin-left: calc(100%/24*17)}
.mLeft-x18{margin-left: calc(100%/24*18)}
.mLeft-x19{margin-left: calc(100%/24*19)}
.mLeft-x20{margin-left: calc(100%/24*20)}
.mLeft-x21{margin-left: calc(100%/24*21)}
.mLeft-x22{margin-left: calc(100%/24*22)}
.mLeft-x23{margin-left: calc(100%/24*23)}
.mLeft-x24{margin-left: 100%}
.mRight-x1{margin-right: calc(100%/24)}
.mRight-x2{margin-right: calc(100%/24*2)}
.mRight-x3{margin-right: calc(100%/24*3)}
.mRight-x4{margin-right: calc(100%/24*4)}
.mRight-x5{margin-right: calc(100%/24*5)}
.mRight-x6{margin-right: calc(100%/24*6)}
.mRight-x7{margin-right: calc(100%/24*7)}
.mRight-x8{margin-right: calc(100%/24*8)}
.mRight-x9{margin-right: calc(100%/24*9)}
.mRight-x10{margin-right: calc(100%/24*10)}
.mRight-x11{margin-right: calc(100%/24*11)}
.mRight-x12{margin-right: calc(100%/24*12)}
.mRight-x13{margin-right: calc(100%/24*13)}
.mRight-x14{margin-right: calc(100%/24*14)}
.mRight-x15{margin-right: calc(100%/24*15)}
.mRight-x16{margin-right: calc(100%/24*16)}
.mRight-x17{margin-right: calc(100%/24*17)}
.mRight-x18{margin-right: calc(100%/24*18)}
.mRight-x19{margin-right: calc(100%/24*19)}
.mRight-x20{margin-right: calc(100%/24*20)}
.mRight-x21{margin-right: calc(100%/24*21)}
.mRight-x22{margin-right: calc(100%/24*22)}
.mRight-x23{margin-right: calc(100%/24*23)}
.mRight-x24{margin-right: 100%}
.mTop-x1{margin-top: calc(100vh/24)}
.mTop-x2{margin-top: calc(100vh/24*2)}
.mTop-x3{margin-top: calc(100vh/24*3)}
.mTop-x4{margin-top: calc(100vh/24*4)}
.mTop-x5{margin-top: calc(100vh/24*5)}
.mTop-x6{margin-top: calc(100vh/24*6)}
.mTop-x7{margin-top: calc(100vh/24*7)}
.mTop-x8{margin-top: calc(100vh/24*8)}
.mTop-x9{margin-top: calc(100vh/24*9)}
.mTop-x10{margin-top: calc(100vh/24*10)}
.mTop-x11{margin-top: calc(100vh/24*11)}
.mTop-x12{margin-top: calc(100vh/24*12)}
.mTop-x13{margin-top: calc(100vh/24*13)}
.mTop-x14{margin-top: calc(100vh/24*14)}
.mTop-x15{margin-top: calc(100vh/24*15)}
.mTop-x16{margin-top: calc(100vh/24*16)}
.mTop-x17{margin-top: calc(100vh/24*17)}
.mTop-x18{margin-top: calc(100vh/24*18)}
.mTop-x19{margin-top: calc(100vh/24*19)}
.mTop-x20{margin-top: calc(100vh/24*20)}
.mTop-x21{margin-top: calc(100vh/24*21)}
.mTop-x22{margin-top: calc(100vh/24*22)}
.mTop-x23{margin-top: calc(100vh/24*23)}
.mTop-x24{margin-top: 100vh}
.mBottom-x1{margin-bottom: calc(100vh/24)}
.mBottom-x2{margin-bottom: calc(100vh/24*2)}
.mBottom-x3{margin-bottom: calc(100vh/24*3)}
.mBottom-x4{margin-bottom: calc(100vh/24*4)}
.mBottom-x5{margin-bottom: calc(100vh/24*5)}
.mBottom-x6{margin-bottom: calc(100vh/24*6)}
.mBottom-x7{margin-bottom: calc(100vh/24*7)}
.mBottom-x8{margin-bottom: calc(100vh/24*8)}
.mBottom-x9{margin-bottom: calc(100vh/24*9)}
.mBottom-x10{margin-bottom: calc(100vh/24*10)}
.mBottom-x11{margin-bottom: calc(100vh/24*11)}
.mBottom-x12{margin-bottom: calc(100vh/24*12)}
.mBottom-x13{margin-bottom: calc(100vh/24*13)}
.mBottom-x14{margin-bottom: calc(100vh/24*14)}
.mBottom-x15{margin-bottom: calc(100vh/24*15)}
.mBottom-x16{margin-bottom: calc(100vh/24*16)}
.mBottom-x17{margin-bottom: calc(100vh/24*17)}
.mBottom-x18{margin-bottom: calc(100vh/24*18)}
.mBottom-x19{margin-bottom: calc(100vh/24*19)}
.mBottom-x20{margin-bottom: calc(100vh/24*20)}
.mBottom-x21{margin-bottom: calc(100vh/24*21)}
.mBottom-x22{margin-bottom: calc(100vh/24*22)}
.mBottom-x23{margin-bottom: calc(100vh/24*23)}
.mBottom-x24{margin-bottom: 100vh}
.relative{position: relative}
.absolute{position: absolute}
.fixed{position: fixed}
.z-index0{z-index: 0}
.z-index1{z-index: 1}
.z-index2{z-index: 2}
.z-index3{z-index: 3}
.z-index4{z-index: 4}
.z-index5{z-index: 5}
.z-index6{z-index: 6}
.z-index7{z-index: 7}
.z-index8{z-index: 8}
.z-index9{z-index: 9}
.z-index10{z-index: 10}
.left0{left: 0px}
.left-x1{left: calc(100%/24)}
.left-x2{left: calc(100%/24*2)}
.left-x3{left: calc(100%/24*3)}
.left-x4{left: calc(100%/24*4)}
.left-x5{left: calc(100%/24*5)}
.left-x6{left: calc(100%/24*6)}
.left-x7{left: calc(100%/24*7)}
.left-x8{left: calc(100%/24*8)}
.left-x9{left: calc(100%/24*9)}
.left-x10{left: calc(100%/24*10)}
.left-x11{left: calc(100%/24*11)}
.left-x12{left: calc(100%/24*12)}
.left-x13{left: calc(100%/24*13)}
.left-x14{left: calc(100%/24*14)}
.left-x15{left: calc(100%/24*15)}
.left-x16{left: calc(100%/24*16)}
.left-x17{left: calc(100%/24*17)}
.left-x18{left: calc(100%/24*18)}
.left-x19{left: calc(100%/24*19)}
.left-x20{left: calc(100%/24*20)}
.left-x21{left: calc(100%/24*21)}
.left-x22{left: calc(100%/24*22)}
.left-x23{left: calc(100%/24*23)}
.left-x24{left: 100%}
.right0{right: 0px}
.right-x1{right: calc(100%/24)}
.right-x2{right: calc(100%/24*2)}
.right-x3{right: calc(100%/24*3)}
.right-x4{right: calc(100%/24*4)}
.right-x5{right: calc(100%/24*5)}
.right-x6{right: calc(100%/24*6)}
.right-x7{right: calc(100%/24*7)}
.right-x8{right: calc(100%/24*8)}
.right-x9{right: calc(100%/24*9)}
.right-x10{right: calc(100%/24*10)}
.right-x11{right: calc(100%/24*11)}
.right-x12{right: calc(100%/24*12)}
.right-x13{right: calc(100%/24*13)}
.right-x14{right: calc(100%/24*14)}
.right-x15{right: calc(100%/24*15)}
.right-x16{right: calc(100%/24*16)}
.right-x17{right: calc(100%/24*17)}
.right-x18{right: calc(100%/24*18)}
.right-x19{right: calc(100%/24*19)}
.right-x20{right: calc(100%/24*20)}
.right-x21{right: calc(100%/24*21)}
.right-x22{right: calc(100%/24*22)}
.right-x23{right: calc(100%/24*23)}
.right-x24{right: 100%}
.top0{top: 0px}
.top-x1{top: calc(100vh/24)}
.top-x2{top: calc(100vh/24*2)}
.top-x3{top: calc(100vh/24*3)}
.top-x4{top: calc(100vh/24*4)}
.top-x5{top: calc(100vh/24*5)}
.top-x6{top: calc(100vh/24*6)}
.top-x7{top: calc(100vh/24*7)}
.top-x8{top: calc(100vh/24*8)}
.top-x9{top: calc(100vh/24*9)}
.top-x10{top: calc(100vh/24*10)}
.top-x11{top: calc(100vh/24*11)}
.top-x12{top: calc(100vh/24*12)}
.top-x13{top: calc(100vh/24*13)}
.top-x14{top: calc(100vh/24*14)}
.top-x15{top: calc(100vh/24*15)}
.top-x16{top: calc(100vh/24*16)}
.top-x17{top: calc(100vh/24*17)}
.top-x18{top: calc(100vh/24*18)}
.top-x19{top: calc(100vh/24*19)}
.top-x20{top: calc(100vh/24*20)}
.top-x21{top: calc(100vh/24*21)}
.top-x22{top: calc(100vh/24*22)}
.top-x23{top: calc(100vh/24*23)}
.top-x24{top: 100vh}
.bottom0{bottom: 0px}
.bottom-x1{bottom: calc(100vh/24)}
.bottom-x2{bottom: calc(100vh/24*2)}
.bottom-x3{bottom: calc(100vh/24*3)}
.bottom-x4{bottom: calc(100vh/24*4)}
.bottom-x5{bottom: calc(100vh/24*5)}
.bottom-x6{bottom: calc(100vh/24*6)}
.bottom-x7{bottom: calc(100vh/24*7)}
.bottom-x8{bottom: calc(100vh/24*8)}
.bottom-x9{bottom: calc(100vh/24*9)}
.bottom-x10{bottom: calc(100vh/24*10)}
.bottom-x11{bottom: calc(100vh/24*11)}
.bottom-x12{bottom: calc(100vh/24*12)}
.bottom-x13{bottom: calc(100vh/24*13)}
.bottom-x14{bottom: calc(100vh/24*14)}
.bottom-x15{bottom: calc(100vh/24*15)}
.bottom-x16{bottom: calc(100vh/24*16)}
.bottom-x17{bottom: calc(100vh/24*17)}
.bottom-x18{bottom: calc(100vh/24*18)}
.bottom-x19{bottom: calc(100vh/24*19)}
.bottom-x20{bottom: calc(100vh/24*20)}
.bottom-x21{bottom: calc(100vh/24*21)}
.bottom-x22{bottom: calc(100vh/24*22)}
.bottom-x23{bottom: calc(100vh/24*23)}
.bottom-x24{bottom: 100vh}
.bg-repeat-x{background-repeat: repeat-x}
.bg-repeat-y{background-repeat: repeat-y}
.bg-no-repeat{background-repeat: no-repeat}
.bg-size-cover{background-size: cover}
.bg-size-contain{background-size: contain}
.bg-x-left{background-position-x: left}
.bg-x-center{background-position-x: center}
.bg-x-right{background-position-x: right}
.bg-y-top{background-position-y: top}
.bg-y-center{background-position-y: center}
.bg-y-bottom{background-position-y: bottom}
.opacity-9{opacity: 0.9}
.opacity-8{opacity: 0.8}
.opacity-7{opacity: 0.7}
.opacity-6{opacity: 0.6}
.opacity-5{opacity: 0.5}
.opacity-4{opacity: 0.4}
.opacity-3{opacity: 0.3}
.opacity-2{opacity: 0.2}
.opacity-1{opacity: 0.1}

.hxy-toast{
  position: absolute;width: 100%;height: 100%;top: 0px;z-index: 2;left: 0px;background: rgba(0,0,0,0.6);
}

